apiclient==1.0.3
appdirs==1.4.3
Appium-Python-Client==0.24
APScheduler==3.3.1
asn1crypto==0.22.0
astroid==1.4.9
autopep8==1.3.1
backports.functools-lru-cache==1.3
beautifulsoup4==4.5.1
cffi==1.9.1
colorama==0.3.7
configparser==3.5.0
cryptography==1.8.1
Django==1.11.2
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
enum==0.4.6
enum34==1.1.6
et-xmlfile==1.0.1
funcsigs==1.0.2
futures==3.1.1
fuzzywuzzy==0.12.0
google-api-python-client==1.6.2
googlemaps==2.4.6
gspread==0.6.2
html==1.16
HTML.py==0.4
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
isort==4.2.5
jdcal==1.2
jellyfish==0.5.6
jira==1.0.7
lazy-object-proxy==1.2.2
lxml==3.7.3
mailer==0.8.1
mccabe==0.6.1
mongoengine==0.10.6
ntlm-auth==1.0.2
oauth2client==4.1.0
oauthlib==2.0.0
openpyxl==2.4.0
ordereddict==1.1
packaging==16.8
page-objects==1.1.0
paramiko==2.0.2
pep8==1.7.0
py==1.4.32
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycodestyle==2.3.1
pycparser==2.17
PyDrive==1.2.1
pygsheets==1.1.1
pylint==1.6.5
pymongo==3.3.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pysftp==0.2.9
pytesseract==0.1.6
pytest==3.0.6
pytest-base-url==1.2.0
pytest-expect==1.1.0
pytest-html==1.13.0
pytest-selenium==1.7.0
pytest-variables==1.4
pythonnet==2.0.0
pytz==2017.2
pywinrm==0.2.2
PyYAML==3.12
requests==2.11.1
requests-credssp==0.0.2
requests-ntlm==1.0.0
requests-oauthlib==0.7.0
requests-toolbelt==0.7.0
rsa==3.4.2
selenium==3.3.3
simplejson==3.8.2
six==1.10.0
SkPy==0.7
Skype4Py==1.0.35
tlslite==0.4.9
tzlocal==1.4
u-msgpack-python==2.3.0
uritemplate==3.0.0
urllib3==1.21.1
virtualenv==15.0.2
virtualenvwrapper-win==1.2.1
wrapt==1.10.10
xlrd==1.0.0
XlsxWriter==0.8.4
xmltodict==0.10.2
